<div class="container">
    <div class="row">
        <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <img class="responsive" src="https://images.unsplash.com/photo-1479920252409-6e3d8e8d4866?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7335ddddbdb2e401ce4f50507524d900&auto=format&fit=crop&w=2100&q=80">
        <!--<div style="width: 80%; margin: 0 auto">-->
                </div>
            </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <!--<div class="form-section">-->
                        <h1>Create Your Profile</h1>
                        <div class="form">
                           <%=form_for @profile do |f|%>
                               <div>
                               <div class="form-group">
                                       <h4>I am: </h4> 
                                        <%=f.select :gender, ['Female', 'Male']%>
                                    </div>
                                    <div class="form-group">
                                        <%=f.label :hobby%>
                                        <%=f.text_field :hobby%>
                                    </div>
                                    
                                    
                               </div>
                                <div class="form-group">
                                    <h4>I look for:</h4>
                                     <div class="form-group">
                                  <%=f.label :gender %>
                                  <%=f.select :gender_preferences, ['Female', 'Male', 'No Preferences']%>
                                </label>
                                
                                </div>


 
                                
                                <div>
                               <div class="form-group">
                                       <h4>Share Room </h4> 
                                        <%=f.select :share_room, ['Yes', 'No']%>
                                    </div>
                                    <div class="form-group">
                                       <h4>Walking Distance From School </h4> 
                                        <%=f.select :walking_distance, ['Yes', 'No']%>
                                    </div>
                                    
                                    
                               </div>
                                
                                
                                
                                
                                                               
                                <div class="form-group">
                                        <%=f.hidden_field :roomate, :value => true %>

<%=f.submit %>
<%end%>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
                <div class="col-md-3"></div>
    </div>
</div>




<%=form_for @profile do |f|%>


<%=f.label :price%>
<%=f.number_field :price%>
<%=f.label :gender %>
<%=f.select :gender, ['female', 'male', 'either']%>
<%=f.label :gender_preferences %>
<%=f.select :gender_preferences, ['female', 'male', 'either']%>
<%=f.hidden_field :roomate, :value => true %>

<%=f.submit %>
<%end%>