<%# <%= gravatar_for @user %>

<%=@user.username%>
<%if @user == current_user %>
<%=link_to "create profile", new_profile_path %>
<%end%>

<%=form_for @message do |f|%>
<%=f.label :content%>
<%=f.text_field :content%>
<%=f.hidden_field :receiver_id, :value => params[:id]%>
<%=f.submit %>
<%end%>
This is your message: 
<ul>
<%@user.messages.each do |m| %>
<li><%=m.content%></li>
<%end%>
</ul>
 