<%# <%= gravatar_for @user%> 
<%if (@user.profile != nil) && (@user.profile.roomate == true) %>
<%=link_to "View my roomate criterias", profile_path(@user.profile) %>
<%else%>
<%=link_to "create profile", new_profile_path %>
<%end%>
<%=@user.username%>
<%if @user == current_user %>
<h1>I am a current user</h1>
<%end%>

<%=form_for @message do |f|%>
<%=f.label :content%>
<%=f.text_field :content%>
<%=f.hidden_field :receiver_id, :value => params[:id]%>
<%=f.submit %>
<%end%>
This is your message: 
<ul>
<%@user.messages.each do |m| %>
<li><%=m.content%></li>
<%end%>
</ul>
 